<div class="main about">
        <div class="container">
            <div class="row">
                <div class="col-md-6 thumbnail"> <img alt="Me" src="https://40.media.tumblr.com/bef12814ad132988f32034726c4365cd/tumblr_ns0pk0Hlgg1ubupxao1_1280.png" /> </div>
                <div class="col-md-6">
                    <h2>Hello. My name is <span class="highlight">Brian Bier</span></h2>
                    <p>Hi, I'm Brian Bier! This is my web developer portfolio where I share all of my favorite work. I know it does not look so great but in a few weeks it will be filled with amazing content. When I'm not coding, I enjoy exercising, feeding my fish, drinking good coffee, and flying my drone.</p>
                    <p>I am currently enrolled at Codecademy classes which is a 12 week introduction to web development. Classes meet six hours a week for in-person support and live demos from 2 experienced developers. At home, I cover around 15 more hours of online learning content each week. At codecademy we start tackling problems that center around projects designed to mirror real web development work.</p>
                </div>
            </div>
        </div>
    </div>