<!-- <div class="banner">
            <ul>
                 <li><img src="https://36.media.tumblr.com/71be5cd5728e22354fc9dc389d5ab85b/tumblr_nrvbswTv201ubupxao1_1280.jpg"></li>
                 <li><img src="https://36.media.tumblr.com/71be5cd5728e22354fc9dc389d5ab85b/tumblr_nrvbswTv201ubupxao1_1280.jpg"></li>
                 <li><img src="https://36.media.tumblr.com/71be5cd5728e22354fc9dc389d5ab85b/tumblr_nrvbswTv201ubupxao1_1280.jpg"></li>
            </ul>
</div> -->
<div class="container">
  <div class="row">
    <div class="col-md-4">
        <ul class="gallery">
          <li>
              <a href="#">
                <img src="img/Movieapp.png" alt="">
                <p> Using Ruby on Rails is a great framework and in this application you will see the associations of a many-to-many relationship. In this application I created three models and I used the has_many :through association to connect them to each other.</p>
                <a href="https://github.com/brianbier/MovieApp" id="btn">See code on Github!
                </a>
              </a>
            </li>
        </ul>
    </div>

    <div class="col-md-4">
        <ul class="gallery">
          <li>
              <a href="#">
                <img src="img/Movieapp.png" alt="">
                <p> This project was built using Ruby on Rails and it was experimenting the use of associations to model one-to-many relationships. This project consisted of two databases one for books and the other for reviews. Using two of the seven standard controller actions I was able to display and modify the data.</p>
               <a href="https://github.com/brianbier/innovation-cloud" id="btn">See code on Github!
                </a>
              </a>
            </li>
        </ul>
    </div>
    <div class="col-md-4">
        <ul class="gallery">
          <li>
              <a href="#">
                <img src="img/Movieapp.png" alt="Hello">
               <p>Experimentation with ruby on rails. The project was part of my 12 week program at codecademy classes. It was my initial push to github as well as putting it live on the web using heroku.</p>
                <a href="http://innovation-cloud.herokuapp.com/" id="btn" id="btn">See it live!</a><br>
                <a href="https://github.com/brianbier/innovation-cloud" id="btn">See code on Github!
                </a>
              </a>
            </li>
        </ul>
      </div>
  </div>
</div>