    <div class="main portfolio"> 
        <div class="banner">
            <ul>
                <li><img alt="Slide01" src="https://36.media.tumblr.com/71be5cd5728e22354fc9dc389d5ab85b/tumblr_nrvbswTv201ubupxao1_1280.jpg" /></li>
                <li><img alt="Slide02" src="https://40.media.tumblr.com/ad97dfff7d3fa74d01be5d4ea922d468/tumblr_nrrpeyxOum1ubupxao1_1280.jpg" /> </li>
                <li> <img alt="Slide03" src="https://36.media.tumblr.com/11f003436726a204a41e80bff9786cd7/tumblr_nrrmd9Bmj81ubupxao1_1280.jpg" /> </li>
            </ul>
        </div>
    <!--
        <div class="jumbotron slideshow">
            <div class="slideshow-container">
                <div class="slide"> <img alt="Slide01" src="https://36.media.tumblr.com/71be5cd5728e22354fc9dc389d5ab85b/tumblr_nrvbswTv201ubupxao1_1280.jpg" /> </div>
                <div class="slide"> <img alt="Slide02" src="https://40.media.tumblr.com/ad97dfff7d3fa74d01be5d4ea922d468/tumblr_nrrpeyxOum1ubupxao1_1280.jpg" /> </div>
                <div class="slide"> <img alt="Slide03" src="https://36.media.tumblr.com/11f003436726a204a41e80bff9786cd7/tumblr_nrrmd9Bmj81ubupxao1_1280.jpg" /> </div>
                <div class="slide"> <img alt="Slide04" src="https://40.media.tumblr.com/b09c14c605c3bba0605e30bc654bc2b2/tumblr_ns0jsiYVkX1ubupxao1_1280.jpg" /> </div>
                <div class="slide"> <img alt="Slide05" src="https://41.media.tumblr.com/40ce4146944bf2a696efb90381b9e62d/tumblr_ns0jx1hLuS1ubupxao1_1280.jpg" /> </div>
            </div>
        </div>
    -->



    </div>