// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*******************************
Welcome Page
*******************************/
* {
    margin: 0;
    padding: 0;
}

body,html {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    height: 100%;
    width: 100%;
}

.container {
    padding: 0 200px 0 280px;
    width: 100%;
}

.main .container {
    margin: 80px 0;
}

.main {
    width: 100%;
}

.main h2 {
    color: #000;
    font-size: 48px;
    line-height: 56px;
    text-align: right;
    color: #fff;
}


a.btn {
    background-color: rgba(0,0,0,0.9);
    border-radius: 0;
    color: #fff;
    font-size: 18px;
    font-weight: 100;
    height: 60px;
    line-height: 60px;
    margin: 40px 0;
    padding: 0;
    transition: background-color .5s;
    width: 200px;
    float:right;
}

a.btn:hover,.nav li a:hover,.nav-btn:hover {
    background-color: #cc6cff;
    color: #fff;
    transition: background-color .7s;
}

.home .jumbotron {
    background: url("https://40.media.tumblr.com/35f2a9335d8f734a0b2d353e2390abce/tumblr_nrvbscVgji1ubupxao1_1280.jpg") center center;
    background-size: cover;
    min-height: 600px;
    width: 100%;
}
.highlight{

background-color:#eaeff4;
color:#000;
padding:0 10px 0
}

.menu ul {
    list-style: none;
    padding-left: 0;
}

.menu li {
    display: inline;
    line-height: 100px;
    font-size: 18px;
    font-weight: 500;
    line-height: 100px;
    height: 100px;
    margin: 0 20px 0 0;
}

.menu li a {
    color: #000;
}

.name h1 {
    color: #000;
    font-size: 18px;
    line-height: 100px;
    height: 100px;
    margin: 0;
    text-align: right;
}

.footer {
    background-color: #fff;
    height: 200px;
    text-align: right;
    width: 100%;
}

.footer .social_media {
    margin: 65px 0 20px;
    width: 100%;
}

.social_media li {
    display: inline-block;
    height: 24px;
    margin: 0 0 0 10px;
    text-align: left;
    text-indent: -9999px;
    width: 24px;
}

.social_media li a {
    display: block;
    height: 24px;
    width: 24px;
}

.github {
    background-image: url("https://41.media.tumblr.com/06d6226938149f8bef5f096dfc383ee0/tumblr_nrz1rsHHPg1ubupxao1_400.png");
    background-size:25px;
    background-position: center;
    background-repeat: no-repeat;
}

.linkedin {
    background-image: url("https://41.media.tumblr.com/3979a9eb592d10df9d3b28ed52cea1e7/tumblr_nrz1vf8pGs1ubupxao1_540.png");
    background-size:20px;
    background-position: center;
    background-repeat: no-repeat;

}

.twitter {
    background-image: url("https://40.media.tumblr.com/5f6342705aeb3599a807607b3ad79480/tumblr_nrz3jf08Lh1ubupxao1_540.png");
    background-size:20px;
    background-position: center;
    background-repeat: no-repeat;
}

.instagram {
    background-image: url("https://36.media.tumblr.com/c99ff19660cee4457ccb336bdb5cb11e/tumblr_nrz3nws7SC1ubupxao1_540.png");
     background-size:20px;
    background-position: center;
    background-repeat: no-repeat;
}

/*******************
Potential links but not ready at the moment. Need to discuss further....


.facebook {
    background-image: url(/assets/facebook-70848fad6bf158b9a52e47d9bc956b8a.svg);
    background-position: center center;
}

.youtube {
    background-image: url(/youtube.svg);
    background-position: center center;
}

.googleplus {
    background-image: url(/assets/gplus-b3a33145641e08e048cd10ed0ece59ce.svg);
    background-position: center center;
}

*******************/
/***************************

About page Styling
***************************/

.about .thumbnail {
    max-height: 400px;
}
.col-md-6 h2 {
    color: #000;
}

.about h2 {
    margin: 0 0 40px;
}

.contact .row {
    margin: 80px 0 0;
}


.highlight {
    background-color: #eaeff4;
    color: #000;
    padding: 0 10px 0;
}

.right {
    float: right;
}

#contact-header{
    margin-top: -40px;
    font-size: 48px;
    margin-bottom: 25px;
}
.form-control{
    border-radius:0px;
}
.form{
    width: 400px;

}
#form-message{
    padding-top:10px;
    padding-right:80px;
    padding-bottom:100px;

    

}

.contact-btn{
    background-color: #000;
    color:#fff;
    padding-top:15px;
    padding-bottom:15px;
    border:20px;
    width: 130px;
}
.contact-btn:hover{
        background-color: #cc6cff;
    color: #fff;
    transition: background-color .5s;

}

.banner { position: relative; overflow: auto; }
.banner li { list-style: none; }
.banner ul li { float: left; }

#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}

.gallery {
  margin-top: 50px;
  padding: 0;
  list-style: none;
}
.gallery li {
  float: left;
  margin: 2.5%;
  background-color: #f5f5f5;
  color: #bdc3c7;
}

.gallery li a p {
  margin: 0;
  padding: 5%;
  color: #000;

}


